<h1>Editing scm</h1>

<% form_for(@scm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :next_id %><br />
    <%= f.text_field :next_id %>
  </p>
  <p>
    <%= f.label :prev_id %><br />
    <%= f.text_field :prev_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :mime_id %><br />
    <%= f.text_field :mime_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @scm %> |
<%= link_to 'Back', scms_path %>