<p>
  <b>Parent:</b>
  <%=h @scm.parent_id %>
</p>

<p>
  <b>Next:</b>
  <%=h @scm.next_id %>
</p>

<p>
  <b>Prev:</b>
  <%=h @scm.prev_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @scm.type %>
</p>

<p>
  <b>Mime:</b>
  <%=h @scm.data_mime.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @scm.content %>
</p>


<%= link_to 'Edit', edit_scm_path(@scm) %> |
<%= link_to 'Back', scms_path %>
