<h1>Editing dish</h1>

<% form_for(@dish) do |f| %>
  <%= f.error_messages %>
	<p>
  <%= collection_select(:dish, :category_id, @categories, :id, :name, options ={:prompt => "- Select type"}, :class =>"payment") %>

	</p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p> 
  <p>
    <%= f.label :onlywithmenu%><br />
    <%= f.check_box :onlywithmenu %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
 <p>tag list</p>
   <ul>
	<% @dish.tag_list.each do |tag| %>
		<li><%= tag %></li>
	<% end %>
   </ul>
  <% form_tag("/dishes/add_tag" ) do %>
   <%= hidden_field_tag 'tag[dish_id]', @dish.id %>
   <%= text_field_tag 'tag[name]'%>
   <%=  submit_tag "Add"%>
   <% end %>

<%= link_to 'Show', @dish %> |
<%= link_to 'Back', dishes_path %>
