<h1>Listing categories</h1>

<table>
<% Cattype.all.each do |type| %>
	<tr>
		<td colspan="5" style="background-color: black; color:white"><%= type.name %></td>
	</tr>
	<% Category.find(:all, :conditions => { :cattype_id => type.id }, :order => :weight).each do |category| %>
  <tr>
    <td><%=h category.parent != nil ? category.parent.name : "NONE" %></td>
    <td><%=h category.name %></td>
    <td><%=h category.cattype ? category.cattype.name : "NONE" %></td>
    <td><%=h category.description %></td>
    <td><%=h category.weight %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
		
	<% end %>
<% end %>
</table>



<br />

<%= link_to 'New category', new_category_path %>
