<h1>New category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= collection_select(:category, :parent_id, @categories, :id, :name, options ={:prompt => "- Select parent"}, :class =>"payment") %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  <%= collection_select(:category, :cattype_id, @cattypes, :id, :name, options ={:prompt => "- Select type"}, :class =>"payment") %>
	</p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>
